.menu__link {
    color: rgb(80, 65, 65);
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 1.25rem;
           
}

.menu__link:hover {
    text-decoration: underline;
    color: rgb(107, 101, 101);
}

.menu--ativo {
    color:  rgb(80, 65, 65);
    font-weight: bold;
}

